/* body{
    font-family: 'Open Sans', sans-serif;
} */
#header{
  min-height: 100vh;
  /* margin-bottom: 20%; */
}
.navbar{
  background-color: white;
}
.nav-link{
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1.4em;
  transition: color .5s ease-out;
}
.navbar-brand img{
  transition: filter .3s ease-out;
}
.navbar-brand img:hover{
  filter: brightness(110%);
}
.jumbotron{
  padding-bottom: 0;
  background-color: white;
}
.jumbotron .row{
  margin: 0;
  padding: 0;
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.jumbotron .banner{
  animation: fadeIn 1.2s ease-in-out;
}
/* Sections */
.section{
  min-height: 100vh;
}
.section h2{
  margin-bottom: 2rem;
  font-family: 'Cinzel', serif;
}
/* Section about company */
.carousel-inner img{
  width: 100%;
  height: 100%;
}
/* Projects section */
.project{
  margin: 1.8rem 0;
}
.gallery, .gallery img{
  margin: 1.5rem 0;
}
.more:hover, .less:hover{
  cursor: pointer;
}
.active{
  color: #bb6f11;
}
.visible{
  display: none
}
.card{
  border: none;
}
/* Contact section */
#contact{
  padding-bottom: 4%;
}
/* Footer */
footer{
  margin-top: 2%;
}
footer span{
  display: block;
  padding: .5rem 1rem;
  color: rgba(0,0,0,0.6)
}
footer ul{
  margin-bottom: 0;
}
footer li>a{
  padding: .5rem 1rem;
  font-size: 1.4em;
  color: rgba(0,0,0,0.5);
  transition: color .5s ease-out;
}
footer li>a:hover{
  color: rgba(0,0,0,0.8);
}
#signature{
  padding: .2rem 1rem;
  font-family: 'Ranga', cursive;
  font-size: 0.8rem;
  color: #454343;
}

/* RWD */
@media (max-width: 768px){
  body {
    padding-top: 65px;
  }
  .section{
    min-height: 50vh;
  }
  #about p{
    padding-top: 1rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
  .description, .gallery, .gallery img, .less{
    margin: 1.5rem 0 0 0;
  }
  #contact address{
    padding-top: 2rem;
  }
  #map{
    height: 80%;
    width: 80%;
  }
  footer span, footer .text-right{
    text-align: center!important;
  }
}
@media (max-width: 1024px){
  .section{
    min-height: 70vh;
  }
}
